*,
*::after,
*::before{
    box-sizing: border-box;
}
#main{
    margin: 20px 10px;
    padding: 17px;
    border-radius: 10px;
    background: #ddd;
}
#title{
    text-align: center;
    font-weight: bold;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-caption{
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}
#tribute-info{
    margin: 10px 40px;
    padding: 20px;
    line-height: 1.5em;
    text-align: justify;
}
.link{
    text-align: center;
    font-weight: bold;
    margin: 10px 40px;
    padding: 20px;
    line-height: 1.5em;
}


@media only screen and (max-width: 400px) {
    #tribute-info {
        margin: 10px 0px;
    }
    img{
        max-width: 97%;
    }
}